body{
    background: linear-gradient( 90deg, rgba(34, 40, 49, 1) 17%, rgba(57, 62, 70, 1) 77% );
}
#flexthis{
    display: flex;
    justify-content: center;
}
#show_keycode_pressed{
    background-color: rgba(0, 0, 0, 0.548);
    text-align: center;
    padding: 10px;
    margin: 10px;
}
#show_key_pressed{
    background-color: rgba(0, 0, 0, 0.548);
    text-align: center;
    padding: 10px;
    margin: 10px;
}
#keycode_pressed{
    color: white
}
#key_pressed{
    color: white
}
#command{
    color: white;
    list-style: none;
    margin: 16px 16px 16px 16px;
}
#toggle_buttons{
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#button{
    color: white;
    border: 2px solid orange;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}
#button:hover{
    background-color: orange;
}
#card{
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.5s;
}
#card:hover{
    background-color: orange;
}
.modal-body{
    background-color: rgb(128, 128, 128);
}
